<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
       <link rel="stylesheet" href="css/style.css">
    <title>Engineering</title>

      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </head>
  <body>
    <h1> Women who have changed Engineering:</h1>


      <div class="row">
        <div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="http://www.usasciencefestival.org/media/k2/items/cache/2ea2ecfd7d8ad0298f455f78b12cd28e_S.jpg">
              <span class="card-title">Helen Greiner</span>
            </div>
            <div class="card-content">
              <p>Best accomplishments: Founder and CEO of CyPhy Works, a leading robotics company based in Danvers, MA which is developing
amazing, futuristic, flying robots (technically known as Unmanned Aerial Vehicles, or UAVs) for
commercial, civil, and military defense applications.</p>
              <br>
              <p>Education: Bachelor’s degree in mechanical engineering and a Master’s degree in computer science, both from MIT. She was presented with an honorary Ph.D. by Worcester Polytechnic Institute in 2009.</p>
            </div>
            <div  class="card-action">
              <a href="http://cyphyworks.com/" target="_blank">More on Helen and her works</a>
            </div>
          </div>
        </div>


<div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="http://www.usasciencefestival.org/media/k2/items/cache/42e117e0c4e849ea187baaf6f5afd9f6_S.jpg">
              <span class="card-title">Dr. Erika Wagner</span>
            </div>
            <div class="card-content">
              <p>Best accomplishments: Business Development Manager for Blue Origin, LLC, a major developer of
vehicles and technologies to enable human space transportation. In her impressive career, she has
also served as Senior Director of Exploration Prize Development for the X Prize Foundation and founding
Executive Director of X Prize Lab at MIT. In addition, at MIT, she was Science and Executive Director of
the Mars Gravity Biosatellite Program, investigating the physiological effects of reduced gravity.</p>
              <br>
              <p>Education: Bachelor’s in Biomedical Engineering, a master’s in Aeronautics and Astronautics, and a Ph.D. in Bioastronautics. She is also an alumna of the International Space University, and serves on multiple national and state Science and Aerospace Boards.</p>
            </div>
            <div  class="card-action">
              <a href="https://www.blueorigin.com/" target="_blank">More on Dr. Erika and her works.</a>
            </div>
          </div>
        </div>


<div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="http://www.usasciencefestival.org/media/k2/items/cache/8c9ca86295c2bfde389cce56a0344d42_S.jpg">
              <span class="card-title">Ann Makosinski</span>
            </div>
            <div class="card-content">
              <p>Best accomplishments:Eighteen year old inventor whose goal is to create low-cost and practical
energy-saving solutions that impact people´s lives. She took a major leap as an innovator when at the
age of fifteen she gained international attention with her Hollow Flashlight -- a flashlight that runs off
the heat of the human hand.</p>
              <br>
              <p>Education: Currently a student! </p>
            </div>
            <div  class="card-action">
              <a href="http://www.theaatproject.com/ambassadors/ann-makosinski.php" target="_blank">More on Anna.</a>
            </div>
          </div>
        </div>
      </div>

    <br> <br> <br>    <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br>
       <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br>
    <br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br>
    <br> <br> <br><br> <br> <br><br> <br>
      <div class="row">
        <div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="http://thedreamstress.com/wp-content/uploads/2015/10/Emily-Warren-Roebling.jpg">
              <span class="card-title">Emily Warren Roebling</span>
            </div>
            <div class="card-content">
              <p>Best accomplishments: Female Chief Engineer of building the Brookly Bridge</p>
              <br>
              <p>Education: Studied topics in civil engineering - math, strength of materials, stress analysis, and cable construction. </p>
            </div>
            <div  class="card-action">
              <a href="http://www.engineergirl.org/Engineers/HistoricalEngineers/4425.aspx" target="_blank">More on Emily.</a>
            </div>
          </div>
        </div>


         <div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="http://www.eduborail.org/images/sce/Olive-W.-Dennis.jpg">
              <span class="card-title">Olive Dennis</span>
            </div>
            <div class="card-content">
              <p>Best accomplishments: First female member of the American Railway Engineering Association</p>
              <br>
              <p>Education: Cornell University with a degree in civil engineering. She also held a master's degree in math and astronomy from Columbia University. </p>
            </div>
            <div  class="card-action">
              <a href="http://www.engineergirl.org/Engineers/HistoricalEngineers/4402.aspx" target="_blank">More on Olive.</a>
            </div>
          </div>
        </div>
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br>
    <p class="home_link"><u><a href="/">Home</u></a></p>


<!--      <div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="http://www.engineergirl.org/File.aspx?id=4401">
              <span class="card-title">Edith Clarke</span>
            </div>
            <div class="card-content">
              <p>Best accomplishments: First female electrical engineer and the first female professor of electrical engineering at the University of Texas at Austin</p>
              <br>
              <p>Education: Studied Mathematics and Astronomy at Vassar College, Massachusetts Institute of Technology - also became the first woman to earn an M.S. in electrical engineering from MIT the following year. </p>
            </div>
            <div  class="card-action">
              <a href="http://www.engineergirl.org/Engineers/HistoricalEngineers/4402.aspx" target="_blank">More on Olive.</a>
            </div>
          </div>
        </div>
 -->

  </body>
</html>
