<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <meta charset="UTF-8">
    <title>Welcome to the WomIndustry!</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <center>
      <div>
        <h1>Welcome to the WomINdustry!</h1><br>
        <p>  (c) An informative page of powerful women in the STEM fields by Natalie, Faith, and Maddy</p>
        <p> Kode with Klossy 2016 </p>
        <h3><i>"Be courageous, be curious, be unapologetically you...a woman's intellect never goes out of style."</i>- Karlie Kloss </h3>
      </div>

      <div>
        <h5><u><a href="/quiz">Take our quiz here!</a></u></h5>
      </div>
      <br><br>
      <div>
       <img  src="http://az616578.vo.msecnd.net/files/2016/02/05/635903006894720145607852857_1442469271473.png">
      </div>
        </center>
        <iframe class="video" width="540" height="270" src="https://www.youtube.com/embed/-71495irTVM" frameborder="0" allowfullscreen></iframe>
  </body>
</html>

<!--   this photo is cute and idk maybe it can be useful??? leaving this here so in case i won't lose it hehe
  https://s-media-cache-ak0.pinimg.com/736x/a0/88/8a/a0888aa8a825713bacb8441d3d816c56.jpg -->