<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="css/style.css">
    <title>Math</title>

      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </head>
  <body>
    <h1> Women who have changed Math:</h1>


      <div class="row">
        <div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Ada_Lovelace_portrait.jpg/220px-Ada_Lovelace_portrait.jpg">
              <span class="card-title"> Ada Lovelace</span>
            </div>
            <div class="card-content">
              <p>Best accomplishments: Included a method for calculating a sequence of Bernoulli numbers, now acknowledged as the world's
first computer program </p>
              <br>
              <p>Education: Privately schooled in mathematics and science by William Frend, William King, and Mary Somerville, the noted researcher and scientific author of the 19th century. </p>
            </div>
            <div  class="card-action">
              <a href="https://en.wikipedia.org/wiki/Ada_Lovelace#Education" target="_blank">More on Ada</a>
            </div>
          </div>
        </div>


<div class="row">
        <div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="http://42796r1ctbz645bo223zkcdl.wpengine.netdna-cdn.com/wp-content/uploads/2016/06/Hypatia_portrait-1.png">
              <span class="card-title">Hypatia </span>
            </div>
            <div class="card-content">
              <p>Best accomplishments:Her contributions are reputed to include the invention of the hydrometer.  </p>
              <br>
              <p>Education: Taught Philosophy and Astronomy at the Neoplatonic school at Alexandria </p>
            </div>
            <div  class="card-action">
              <a href="https://en.wikipedia.org/wiki/Hypatia" target="_blank">More on Hypatia</a>
            </div>
          </div>
        </div>

  <div class="row">
        <div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Chudnovsky_2012_hi-res-download_2.jpg/220px-Chudnovsky_2012_hi-res-download_2.jpg">
              <span class="card-title">Maria Chudnovsky</span>
            </div>
            <div class="card-content">
              <p>Best accomplishments: Awarded a Macarthur Fellowship for her work on graph
theory, including a proof of the strong perfect graph theorem.  </p>
              <br>
              <p>Education: Professor in the department of mathematics at Princeton University. She grew up in Russia and Israel, studying at the Technion, and received her Ph.D. in 2003 from Princeton University under the supervision of Paul Seymour.</p>
            </div>
            <div  class="card-action">
              <a href="https://en.wikipedia.org/wiki/Maria_Chudnovsky" target="_blank">More on Maria</a>
            </div>
          </div>
        </div>

    <br> <br> <br>    <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br>
       <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br>   <br> <br> <br> <br> <br> <br>
    <br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br>

    <div class="row">
        <div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="https://www.agnesscott.edu/lriddle/women/scott.jpg">
              <span class="card-title">Charlotte Angas Scott</span>
            </div>
            <div class="card-content">
              <p>Best accomplishments: Her work to standardize testing for college entrance resulted in the formation of the
College Entrance Examinaton </p>
              <br>
              <p>Education:  </p>
            </div>
            <div  class="card-action">
              <a href="http://womenshistory.about.com/od/sciencemath1/a/charlotte_scott.htm" target="_blank">More on Charlotte</a>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="http://f.tqn.com/y/womenshistory/1/W/3/d/3/Sofia-Kovalevskaya-resized.jpg">
              <span class="card-title">Sofia Kovalevskaya </span>
            </div>
            <div class="card-content">
              <p>Best accomplishments: Escaped her parent's opposition to her advanced study and pursued mathematics. </p>
              <br>
              <p>Education: Doctorate sum cumma laude from the University of Göttingen in 1874</p>
            </div>
            <div  class="card-action">
              <a href="http://womenshistory.about.com/od/sciencemath1/a/Sofia-Kovalevskaya.htm" target="_blank">More on Sofia</a>
            </div>
          </div>
        </div>


        <div class="row">
        <div class="col s12 m4">
          <div style="width: 90%" class="card">
            <div  class="card-image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Germain.jpeg/180px-Germain.jpeg">
              <span class="card-title">Sophie Germain </span>
            </div>
            <div class="card-content">
              <p>Best accomplishments: Sophie Germain prime numbers in the number theory </p>
              <br>
              <p>Education: Studied independently because of prejudice against women</p>
            </div>
            <div  class="card-action">
              <a href="https://en.wikipedia.org/wiki/Sophie_Germain" target="_blank">More on Sophie</a>
            </div>
          </div>
        </div>

          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br> <br><br> <br> <br>
        <p class="home_link"><u><a href="/">Home</u></a></p>


  </body>
</html>
